div, nav, header, footer{
	display:block;
	margin:0;
	padding:0;
	clear:both;
	border:2px solid #eee;
	border:2px solid rgba(0,0,0,0.06);
}
canvas#box{
	display:block;
	width:100%;
	height:2px;
}
html{
	font-family: monospace;
	text-align:center;
}
#wrap{
	margin:1em auto;
	text-align:left;
	width:640px;
	border:none;

}
header img#avatar{
	float:left;
	margin:0 1ex;
	width:64px;
	height:64px;
}
h3{
	margin:0;
}