body *,body{
margin:0;
padding:0;
display:block;

}
a, span {
	display:inline-block;
}
style,script{
	display:none;
}


body{

	font: 16pt monospace;
	text-align:center;
}
#container{

	margin:0 auto;
}

head, script,.hide{
	display:none!important;
}
header,footer{
	text-align:center;
	clear:both;
}


canvas,video, #container *{
	background:transparent;
	position:absolute;

		 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#container * *{
	position: relative;;
}
.shown{
	display:block!important;
	width:auto;
}
.hidden{
	
	width:1ex;
	overflow:hidden;
}

#chat{
	color:#fff;
	background:#333;
	border:1px solid #eee;
	position: relative;
	position: absolute;
	top:10%;
	left:0;
	display:none;
	width: 25%;
	min-height:50%;
	max-height:79%;
	overflow:scroll-y;
}
#form{
	color:#fff;
	background:#333;
	border:1px solid #eee;
	position: relative;
	position: absolute;
	top:10%;
	right:0;
	display:none;
	width: 25%;
	min-height:50%;
	max-height:79%;
	overflow:scroll-y;	
}

